{% extends 'base.html.twig' %}

{% block body %}
	<header class="login-gif site-header">
		<div class="container">
			<h2 class="text-white">!SECURITY ALERT!</h2>
			<h6 class="text-white">Attempting to acceed user inferface with admin account !</h6>
			<p class="text-white">logout and acceed with user account.</p>
		</div>
	</header>
{% endblock %}
