<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TaskNest{% endblock %}</title>
        <link rel="icon" href="images/tasknest1.png">
        {% block stylesheets %}
            <link rel="stylesheet" href="/_next/static/css/d86cfa61a4822fe0.css" data-n-g=""/>

        {% endblock %}

        {% block javascripts %}
            <script defer="" nomodule="" src="/_next/static/chunks/polyfills-c67a75d1b6f99dc8.js"></script> 
            <script src="/_next/static/chunks/webpack-9e5829f83ed1b4ac.js" defer=""></script>
            <script src="/_next/static/chunks/framework-3671d8951bf44e4e.js" defer=""></script>
            <script src="/_next/static/chunks/main-5113a160e7884232.js" defer=""></script>
            <script src="/_next/static/chunks/pages/_app-979549b46b89f45a.js" defer=""></script>
            <script src="/_next/static/chunks/5726-d678d89665b6e8dd.js" defer=""></script>
            <script src="/_next/static/chunks/8213-34c3ed23a2198c74.js" defer=""></script>
            <script src="/_next/static/chunks/7399-881c2c69295abbf2.js" defer=""></script>
            <script src="/_next/static/chunks/pages/index-fb493c9913e30bb0.js" defer="">
            </script><script src="/_next/static/0da9SJ7h69dsiefFOHWfs/_buildManifest.js" defer=""></script>
            <script src="/_next/static/0da9SJ7h69dsiefFOHWfs/_ssgManifest.js" defer=""></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
