{% extends 'base.html.twig' %}

{% block body %}
	<header class="login-gif site-header">
		<div class="container">
			<h2 class="text-white">!SECURITY ALERT!</h2>
			<h6 class="text-white">Attempting to acceed admin inferface with user account !</h6>
		</div>
	</header>
{% endblock %}
